$bodyBgColor: #ffe1ad;

html, body {
  background-color: $bodyBgColor;
  font-family: 'Lato', sans-serif;
}
input, button, .btn, .form-control {
  border-radius: 0;
  box-shadow: none;
}
.btn, button {
  background-color: white;
  color: #a7a9ac;
  font-weight: 700;
  border: 1px solid #e5e5e5;
}
.text-highlited {
  font: {
    family: 'Droid Serif', sans-serif;
    style: italic;
    size: 12px;
  }
  span {
    font-style: normal;
    font-weight: 700;
  }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}