$questionsBgColor: #dff3fd;
$questionTextColor: #0266b3;
$secondaryTextColor: #afb1b4;

%questionTextStyle {
  color: $questionTextColor;
  font-family: 'Droid Serif', serif;
  font-weight: 700;
}
%boxTextPosition {
  position: absolute;
  left: 10%;
  bottom: 10px;
  width: 80%;
  text-align: center;
}

.content {
  width: 100%;
  .container {
    background-color: #fbfbfb;
    .questions-main-container {
      background-color: white;
      position: relative;
      &:not(.answer-main) {
        @include prefixer(box-shadow, 2px 2px 6px #e5e5e5, webkit moz spec);
      }
      &.last {
        margin-bottom: 40px;
      }
      &.next {
        margin-left: 90px;
      }
    }
  }
}
figure.avatar {
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

  }
}
.question {
  display: table-cell;
  padding: 20px;
  vertical-align: middle;
}
.single-question-container {
  background-color: $questionsBgColor;
}
.single-question-container, .single-answer-container {
  figure.avatar {
    display: table-cell;
    padding: 20px;
  }
}
.question-text {
  @extend %questionTextStyle;
  font-style: italic;
  margin: 0.5em 0 0 0;
}
.username {
  @extend %questionTextStyle;
}
.activity {
  padding: 0 15px 35px;
}
.asked {
  height: 190px;
  background-color: $questionsBgColor;
  position: relative;
  > div {
    @extend %boxTextPosition;
    text-transform: uppercase;
    color: $secondaryTextColor;
    font-size: 10px;
    border-top: 1px solid #7d8b93;
  }
}
@mixin userActivityBox($bgColor, $contentWord) {
  height: 150px;
  margin-top: 40px;
  > div {
    background-color: $bgColor;
    position: absolute;
    left: 5px;
    bottom: 0;
    @include calc(width, "100% - 10px");
    height: 100%;
    &:before {
      content: $contentWord;
      @extend %boxTextPosition;
      @content;
    }
    &:after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: $secondaryTextColor;
      display: inline-block;
      bottom: -5px;
      @include calc(left, "50% - 5px");
      border-radius: 50%;
    }
  }
}

.commented {
  @include userActivityBox(#eee, 'commented') {
    text-transform: uppercase;
    border-top: 1px solid $secondaryTextColor;
    color: $secondaryTextColor;
    font-size: 10px;
  }
  figure.avatar {
    display: block;
    text-align: center;
    padding-top: 15px;
  }
}
.more-activities {
  color: #404b51;
  font: {
    family: 'Droid Serif', sans-serif;
    style: italic;
    size: 12px;
  }
  > div {
    text-align: center;
    padding-top: 30px;
  }
  @include userActivityBox(#fff, 'more activities');
}
.statistics {
  list-style-type: none;
  margin: 40px 0 0 0;
  padding: 0;
  > li {
    font: {
      family: 'Droid Serif', sans-serif;
      style: italic;
      size: 12px;
    }
    strong {
      font: {
        size: 16px;
        family: 'Lato', sans-serif;
        style: normal;
      }
      display: inline-block;
      margin-right: .5em;
    }
    &:not(:last-child) {
      margin-bottom: 3em;
    }
  }
}
.action {
  text-transform: uppercase;
  color: #898b9c;
  font-size: 11px;
  padding: 0 1em;
}