$arrowColor: #afb1b4;
$headerTextColor: #2d2c2e;
$questionIconColor: #0266b3;

header {
  width: 100%;
  background-color: white;
  padding-top: 50px;
}
.radio-container {
  display: inline-block;
  float: right;
  margin-top: 0.75em;
  label {
    margin-left: 2em;
    input[type=radio] {
      margin-right: 0.5em;
    }
  }
}
.arrow {
  color: $arrowColor;
  font-size: 25px;
  border-radius: 50%;
  border: 2px solid $arrowColor;
  width: 40px;
  height: 40px;
  display: inline-block;
}
.questions {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: $headerTextColor;
  i {
    color: $questionIconColor;
    margin-left: 1em;
  }
}
.sort-by {
  font-family: 'Droid Serif', serif;
  font-size: 13px;
  margin-top: 1.15em;
  span {
    font-style: italic;
  }
  a {
    font-weight: 700;
    &.recent {
      color: $arrowColor;
      text-decoration: underline;
    }
  }
}
.search-container {
  margin: {
    top: 1em;
    bottom: 1em;
  }
  input[type=search] {
    background-color: #fbfbfb;
    border: 1px solid #eeeeee;
    @include placeholder {
      color: #8e8b93;
    }
  }
}
button[type=submit] {
  border: 1px solid #a7a9ac;
  text-transform: uppercase;
}