$highlitedTextColor: #0266B3;

%secondaryTextStyle {
  text-transform: uppercase;
  color: #898b9c;
  font-size: 13px;
  font-weight: 400;
}
%listElementsStyle {
  width: 90px;
  height: 90px;
  position: relative;
  display: inline-block;
}
.profile-popup {
  background-color: white;
  h1 {
    font: {
      family: 'Droid Serif', sans-serif;
      style: italic;
      weight: 400;
      size: 36px;
    }
  }
  h3 {
    @extend %secondaryTextStyle;
  }
  header {
    border-top: 1px solid #a7a9ac;
    margin: 2.5em 0;
    padding: 0;
    position: relative;
    .left, .right {
      position: absolute;
      top: 1em;
      font-size: 24px;
      width: 35px;
      height: 35px;
      background-color: #a7a9ac;
      border-radius: 50%;
      color: white;
      &:hover, &:focus, &:active {
        background-color: #0266b9;
        cursor: pointer;
      }
    }
    .left {
      left: 0;
    }
    .right {
      right: 0;
      @include transform(rotate(180deg));
    }
  }
}
.profile-avatar {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-top: 50px;
}
.profile-info {
  h2 {
    color: $highlitedTextColor;
    font-size: 18px;
  }
}
span.info {
  padding-right: 1em;
  @extend %secondaryTextStyle;
}
.icon-star {
  color: #cfd1d3;
  &.active {
    color: #fa8b81;
  }
}
ul.profile-statistics {
  margin: 40px 0;
  padding: 0;
  display: inline-block;
  > li {
    @extend %listElementsStyle;
    font: {
      family: 'Droid Serif', sans-serif;
      style: italic;
    }
    &:not(:last-child) {
      margin-right: 15px;
    }
    > div {
      z-index: 1;
      position: relative;
      font-size: 12px;
      padding-top: 20px;
    }
    strong {
      font: {
        size: 24px;
        family: 'Lato', sans-serif;
        style: normal;
      }
      display: block;
    }
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #e5f5fd;
      z-index: 0;
    }
    @for $i from 1 through 4 {
      &:nth-child(#{$i}){
        &:before {
          @include transform(rotate(#{random(90)}deg));
        }
      }
    }
  }
}
ul.joined-people {
  margin: 15px 0 40px;
 > li {
   display: inline-block;
   color: $highlitedTextColor;
   font-weight: 700;
   &:not(:last-child) {
     margin-right: 10px;
   }
   span {
     margin-top: 5px;
     display: inline-block;
   }
   figure {
     width: 90px;
     height: 90px;
     display: table-cell;
     vertical-align: middle;
     @include stripedBackground(#dfdfdf);
   }
 }
}
.hottest-discussion {
  @include stripedBackground(#dfdfdf);
  margin-top: 50px;
  position: relative;
  padding: 45px 0 30px;
  figure {
    position: absolute;
    width: 100%;
    text-align: center;
    top: -25px;
    left: 0;
  }
  p {
    color: $highlitedTextColor;
    font-weight: 700;
    span {
      text-transform: uppercase;
      color: #898b9c;
      font-size: 12px;
      font-weight: 400;
    }
  }
  h4 {
    color: $highlitedTextColor;
    font: {
      family: 'Droid Serif', serif;
      style: italic;
      size: 18px;
    }
  }
}
ul.discussion-statistics {
  margin-top: 30px;
  > li {
    display: inline-block;
    font: {
      family: 'Droid Serif', serif;
      style: italic;
      size: 12px;
    }
    strong {
      font: {
        size: 16px;
        family: 'Lato', sans-serif;
        style: normal;
      }
      display: inline-block;
      margin-right: .5em;
    }
    &:not(:last-child) {
      margin-right: 2em;
    }
  }
}