$questionTextColor: #0266b3;
$buttonSize: 180px;
.single-title {
  padding-bottom: 20px;
}
.last-discussed {
  padding-top: 10px;
}
.unfollow {
  padding-right: 40px;
  display: table-cell;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 35px;
  @extend %questionTextStyle;
}
.has-unfollow {
  padding-right: 100px;
}
.description {
  margin-top: 40px;
}
.votes {
  font: {
    family: 'Droid Serif', sans-serif;
    style: italic;
    size: 12px;
  }
  margin-top: 40px;
  display: inline-block;
  vertical-align: top;
  height: 50px;
}
.voting-box {
  position: relative;
  width: 30px;
  height: 45px;
  display: inline-block;
  margin-top: 25px;
  i {
    position: absolute;
    font-size: 24px;
    color: $questionTextColor;
    &:first-child {
      top: 0;
    }
    &:last-child {
      bottom: 0;
    }
  }
}
.btn-discussion-cta {
  position: absolute;
  bottom: -15px;
  width: $buttonSize;
  @include calc(left, '50% - #{$buttonSize}/2');
  color: #2d2c2e;
  font-weight: 700;
  span {
    text-transform: uppercase;
  }
}
.result-info {
  margin: {
    top: 60px;
    bottom: 20px;
  }
}
.answer {
  border-left: 1px solid #e5e5e5;
  @extend .question;
  width: 100%;
  min-height: 90px;
  position: relative;
}
.answer-main {
  @include prefixer(box-shadow, 3px -1px 6px #e5e5e5, webkit moz spec);
}
.answers {
  position: relative;
  .questions-main-container {
    &:not(.first) {
      @include prefixer(box-shadow, 3px -1px 6px #e5e5e5, webkit moz spec);
      border-top: 1px solid #e5e5e5;
    }
    &.first {
      z-index: 1;
    }
  }
}
