@mixin stripedBackground($stripeColor) {
  @include background-image(linear-gradient(-45deg,
          $stripeColor 25%,
          transparent 25%,
          transparent 50%,
          $stripeColor 50%,
          $stripeColor 75%,
          transparent 75%,
          transparent));
  background-size: 4px 4px;
}