<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>Angular Test Project</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700italic" rel="stylesheet" type="text/css">

    <!-- CSS-->
    <!-- build:css style.min.css -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- endbuild -->
</head>
<body ng-controller="mainController">

      <div id="app" class="full-height"></div>

    <!--
    <div class="wrapper">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <a href="#" class="arrow"><i class="icon-left-open-big"></i></a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="questions">Questions <i class="icon-plus-circle"></i></a>
                        <div class="radio-container">
                            <label>
                                <input type="radio" name="sort"/>
                                My shelf
                            </label>
                            <label>
                                <input type="radio" name="sort"/>
                                All questions
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2 text-right">
                        <div class="sort-by"><span>Sort by:</span>
                            <a href="#" class="recent">recent</a>
                            <span> or</span> <a href="#" class="hot">hot</a>
                        </div>
                    </div>
                </div>
                <div class="row search-container">
                    <form>
                        <div class="col-md-6 col-md-offset-2">
                            <input type="search" name="search" class="form-control" placeholder="Search questions" ng-model="search" ng-minlength="2">
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-default btn-block btn-search">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="questions-main-container">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="single-question-container">
                                        <figure class="avatar">
                                            <img src="http://images.moviefanatic.com/iu/s--GQlBmnbD--/t_thumb/f_auto,fl_lossy,q_75/v1364991209/eddie-murphy-wtf.jpg"/>
                                        </figure>
                                        <div class="question">
                                            <span class="username">Eddie</span> is asking:
                                            <p class="question-text">Would you rather go into the future or the past?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="activity">
                                        <div class="row">
                                            <div class="col-md-2 asked">
                                                <div>asked</div>
                                            </div>
                                            <div class="col-md-2 more-activities"><div>5</div></div>
                                            <div class="col-md-2 commented">
                                                <div>
                                                    <figure class="avatar">
                                                        <img src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAHEAAAAJGZiMzY4NTU1LTQ3N2ItNGYzNS1hN2MxLWMxMDU0ZTIxMjU2Mg.jpg"/>
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="col-md-2 commented">
                                                <div>
                                                    <figure class="avatar">
                                                        <img src="https://yt3.ggpht.com/-5v4woDfwZWQ/AAAAAAAAAAI/AAAAAAAAAAA/SLeL3axOxO8/s100-c-k-no/photo.jpg"/>
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="col-md-2 commented">
                                                <div>
                                                    <figure class="avatar">
                                                        <img src="http://asianwiki.com/images/7/77/The_Metropolitan_Police_Missing_Person-Masaya_Kikawada.jpg"/>
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="col-md-2 commented">
                                                <div>
                                                    <figure class="avatar">
                                                        <img src="http://usercontent1.hubimg.com/12363776_100.jpg"/>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <ul class="statistics">
                                        <li><strong>2</strong> related discussion</li>
                                        <li><strong>5</strong> peers involved</li>
                                        <li><strong>7</strong> conversations</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer></footer>
    </div>
    -->
    <!-- build:js app.min.js -->
    <script src="app.js"></script>
    <!-- endbuild -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
