<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>Angular Test Project</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700italic" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.3.js"></script>
    <script src="static/js/test-project.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/test-project.min.css?v={{ main_css_version_hash }}"/>
</head>
<body>
<div class="wrapper profile-popup">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center profile-info">
                <img class="profile-avatar" src="http://asianwiki.com/images/7/77/The_Metropolitan_Police_Missing_Person-Masaya_Kikawada.jpg">
                <h2>Chen Hang</h2>
                <div class="row">
                    <div class="col-md-4">
                        <span class="info">Member for</span>
                        <span class="result">5 months</span>
                    </div>
                    <div class="col-md-4">
                        <span class="info">Last seen</span>
                        <span class="result">Saturday afternoon</span>
                    </div>
                    <div class="col-md-4">
                        <span class="info">Activity level</span>
                        <span class="result">
                            <i class="icon-star active"></i>
                            <i class="icon-star active"></i>
                            <i class="icon-star"></i>
                        </span>
                    </div>
                </div>
                <header>
                    <h1>How it all started</h1>
                    <a class="left"><i class="icon-left-open-big"></i></a>
                    <a class="right"><i class="icon-left-open-big"></i></a>
                </header>
                <h3>That's where we have been these 5 months ago</h3>
                <ul class="profile-statistics">
                    <li>
                        <div>
                            <strong>46</strong>
                            peers
                        </div>
                    </li>
                    <li>
                        <div>
                            <strong>29</strong>
                            discussions
                        </div>
                    </li>
                    <li>
                        <div>
                            <strong>19</strong>
                            findings
                        </div>
                    </li>
                    <li>
                        <div>
                            <strong>20</strong>
                            questions
                        </div>
                    </li>
                </ul>
                <h3>Who joined the platform the same period</h3>
                <ul class="joined-people">
                    <li>
                        <figure class="avatar">
                            <img src="http://images.moviefanatic.com/iu/s--GQlBmnbD--/t_thumb/f_auto,fl_lossy,q_75/v1364991209/eddie-murphy-wtf.jpg"/>
                        </figure>
                        <span>John Doe</span>
                    </li>
                    <li>
                        <figure class="avatar">
                            <img src="http://images.moviefanatic.com/iu/s--GQlBmnbD--/t_thumb/f_auto,fl_lossy,q_75/v1364991209/eddie-murphy-wtf.jpg"/>
                        </figure>
                        <span>John Doe</span>
                    </li>
                    <li>
                        <figure class="avatar">
                            <img src="http://images.moviefanatic.com/iu/s--GQlBmnbD--/t_thumb/f_auto,fl_lossy,q_75/v1364991209/eddie-murphy-wtf.jpg"/>
                        </figure>
                        <span>John Doe</span>
                    </li>
                </ul>
                <h3>The hottest discussion these days</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 hottest-discussion text-center">
                <figure class="avatar">
                    <img src="http://images.moviefanatic.com/iu/s--GQlBmnbD--/t_thumb/f_auto,fl_lossy,q_75/v1364991209/eddie-murphy-wtf.jpg"/>
                </figure>
                <p>Andrew <span class="info">found the guardian article</span></p>
                <h4>Would you rather go into the future or the past?</h4>
                <ul class="discussion-statistics">
                    <li><strong>2</strong> related discussion</li>
                    <li><strong>5</strong> peers involved</li>
                    <li><strong>7</strong> conversations</li>
                    <li><strong>14</strong> upvotes</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>