<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>Angular Test Project</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700italic" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.3.js"></script>
    <script src="static/js/test-project.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/test-project.min.css?v={{ main_css_version_hash }}"/>
</head>
<body>
<div class="wrapper">
    <header>
        <div class="container single-title">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <a href="#" class="arrow"><i class="icon-left-open-big"></i></a>
                </div>
                <div class="col-md-4 col-sm-5 col-xs-10">
                    <a href="#" class="questions">Question <i class="icon-plus-circle"></i></a>
                </div>
                <div class="col-md-4 col-sm-5 hidden-xs text-right last-discussed text-highlited">
                    Last time discussed <span>1</span> day ago
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="questions-main-container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="single-question-container has-unfollow">
                                    <figure class="avatar">
                                        <img src="http://images.moviefanatic.com/iu/s--GQlBmnbD--/t_thumb/f_auto,fl_lossy,q_75/v1364991209/eddie-murphy-wtf.jpg"/>
                                    </figure>
                                    <div class="question">
                                        <span class="username">Eddie</span><span class="action"> is asking:</span>
                                        <p class="question-text">Would you rather go into the future or the past?</p>
                                    </div>
                                    <div class="unfollow">
                                        unfollow
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="activity">
                                    <div class="row">
                                        <div class="col-md-2 hidden-sm hidden-xs asked">
                                        </div>
                                        <div class="col-md-10 description">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                                            eleifend urna magna, vitae dictum tellus tempor a. Curabitur
                                            non fermentum quam, a consectetur turpis. Mauris tempor risus
                                            ligula, sed gravida lorem suscipit sed. Aliquam sed turpis
                                            ligula. In imperdiet ex vitae enim facilisis cursus. Fusce
                                            elementum accumsan rutrum. Lorem ipsum dolor sit amet,
                                            consectetur adipiscing elit.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="votes">
                                    19 upvotes
                                </div>
                                <div class="voting-box">
                                    <i class="icon-up-dir"></i>
                                    <i class="icon-down-dir"></i>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default btn-discussion-cta"><span>Give</span> new answer</button>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center text-highlited result-info">
                            <span>2</span> peers already answered Eddie
                        </div>
                    </div>
                    <div class="answers">
                        <div class="questions-main-container answer-main first">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="single-answer-container">
                                        <figure class="avatar">
                                            <img src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAHEAAAAJGZiMzY4NTU1LTQ3N2ItNGYzNS1hN2MxLWMxMDU0ZTIxMjU2Mg.jpg"/>
                                        </figure>
                                        <div class="answer">
                                            <span class="username">John</span>
                                            <span class="action"> commented it</span>
                                            &#9899;
                                            <span class="text-highlited">yesterday</span>
                                            <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="votes">
                                        19 upvotes
                                    </div>
                                    <div class="voting-box">
                                        <i class="icon-up-dir"></i>
                                        <i class="icon-down-dir"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="questions-main-container answer-main next last">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="single-answer-container">
                                        <figure class="avatar">
                                            <img src="http://asianwiki.com/images/7/77/The_Metropolitan_Police_Missing_Person-Masaya_Kikawada.jpg">
                                        </figure>
                                        <div class="answer">
                                            <span class="username">Chen</span>
                                            <span class="action"> commented it</span>
                                            &#9899;
                                            <span class="text-highlited">yesterday</span>
                                            <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="votes">
                                        19 upvotes
                                    </div>
                                    <div class="voting-box">
                                        <i class="icon-up-dir"></i>
                                        <i class="icon-down-dir"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default btn-discussion-cta"><span>Continue</span> discussion</button>
                    </div>
                    <div class="answers">
                        <div class="questions-main-container answer-main last">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="single-answer-container">
                                        <figure class="avatar">
                                            <img src="https://yt3.ggpht.com/-5v4woDfwZWQ/AAAAAAAAAAI/AAAAAAAAAAA/SLeL3axOxO8/s100-c-k-no/photo.jpg">                                        </figure>
                                        <div class="answer">
                                            <span class="username">Emma</span>
                                            <span class="action"> commented it</span>
                                            &#9899;
                                            <span class="text-highlited">yesterday</span>
                                            <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="votes">
                                        19 upvotes
                                    </div>
                                    <div class="voting-box">
                                        <i class="icon-up-dir"></i>
                                        <i class="icon-down-dir"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default btn-discussion-cta"><span>Continue</span> discussion</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>